<h4 class="list-group-item-heading">
    <a class="text-info">{{addrType}}</a>
    <span class="pull-right">
        <a class="btn btn-sm edit addr text-info" data-id="{{id}}" data-toggle="tooltip" title="{{t 'edit'}}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-xs delete addr text-info" data-toggle="tooltip" data-id="{{id}}" title="{{t 'delete'}}"><span class="glyphicon glyphicon-trash"></span></a>
    </span>
</h4>
<p class="list-group-item-text">
    <div class="pull left well well-sm" style="word-wrap: break-word;">
        <span class="glyphicon glyphicon-map-marker">&nbsp;</span>{{street}}&nbsp;&nbsp;{{no}}&#44;&nbsp;{{city}}&nbsp;&minus;&nbsp;{{postal_code}}
    </div>
</p>