<h3 class="list-group-item-heading">
    <a target="_blank" style="word-wrap: break-word;" class="text-info">{{schoolName}}</a>
    <span class="pull-right">
        <a class="btn btn-sm edit edu text-info" data-id="{{id}}" data-toggle="tooltip" title="{{t 'edit'}}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-xs delete edu text-info" data-toggle="tooltip" data-id="{{id}}" title="{{t 'delete'}}"><span class="glyphicon glyphicon-trash"></span></a>
    </span>
</h3>
<p class="list-group-item-text">
    <span class="pull left" style="word-wrap: break-word;">
        <span class="glyphicon glyphicon-certificate">&nbsp;</span> {{degreeName}} &#44;&nbsp; {{fieldOfStudy}}
    </span>
    <br />
    <span class="pull left">
        <span class="glyphicon glyphicon-calendar">&nbsp;</span> {{attended_from}} &minus; <span id="dateTo-{{id}}" class="dateTo hidden">{{attended_to}}</span>
        <span class="present" id="present-{{id}}">{{t "present"}}</span>
    </span>
    <div class="well well-sm" style="word-wrap: break-word;">
        {{description}}
    </div>
</p>
 