
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{t "companiesWorkAt"}} <b class="caret"></b></a>
                    </h4>
                    <div class="btn-group pull-right">
                        <button type="button" id="addCompany" class="btn btn-sm btn-success btn-add btnaddCompany" data-toggle="tooltip" title="{{t 'add'}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body" id="companiesRegion"></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{{t "courses"}} <b class="caret"></b></a>
                    </h4>
                    <div class="btn-group pull-right">
                        <button type="button" id="addCourse" class="btn btn-sm btn-success btn-add btnaddCourse" data-toggle="tooltip" title="{{t 'add'}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" id="coursesRegion"></div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">{{t "projects"}} <b class="caret"></b></a>
                    </h4>
                    <div class="btn-group pull-right">
                        <button type="button" id="addPrj" class="btn btn-sm btn-success btn-add btnaddPrj" data-toggle="tooltip" title="{{t 'add'}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body" id="projectsRegion"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">{{t "workingHistory"}} <b class="caret"></b></a>
                    </h4>
                    <div class="btn-group pull-right">
                        <button type="button" id="addWork" class="btn btn-sm btn-success btn-add btnaddWork" data-toggle="tooltip" title="{{t 'add'}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body" id="worksRegion"></div>
                </div>
            </div>
    </div>
</div>




<!--************************************ MODALS *******************************************************-->

<!--    COMPANIES MODAL -->


<div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="panel panel-default">
            <div class="panel-heading">{{t "editCompany"}}</div>
            <div class="panel-body">
                 <form id="editFormCompany" role="form">
                    <div class="form-group">
                        <label for="compName" class="sr-only">{{t 'name'}}</label>
                        <input type="text" class="form-control input-sm" id="compName" value="{{name}}"  placeholder="{{t 'name'}}" />
                    </div>
                    <div class="form-group">
                        <label for="compAddress" class="sr-only">{{t 'address'}}</label>
                        <input type="text" id="compAddress" class="form-control input-sm" value="{{address}}"  placeholder="{{t 'address'}}" />
                    </div>
                    <div class="form-group">
                        <label for="compPhone" class="sr-only">{{t 'tel'}}</label>
                        <input type="tel" id="compPhone" class="form-control input-sm" placeholder="{{t 'tel'}}" value="{{phone}}" />
                    </div>
                     <div class="form-group">
                        <label for="compLink" class="control-label">{{t "link"}}</label>
                         <input type="url" id="compLink" class="form-control input-sm" placeholder="http://" value="{{link}}" />
                     </div>
                    <a class="btn btn-sm btn-success" id="compSave" >{{t 'save'}}</a>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>


<!--    ! COMPANIES MODAL -->

<!--    COURSES MODAL -->



<div class="modal fade" id="coursesModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="panel panel-default">
            <div class="panel-heading">{{t "editCourse"}}</div>
            <div class="panel-body">
                <form id="editFormCourses" role="form">
                    <div class="form-group">
                        <label for="courseCode" class="control-label">{{t 'code'}}</label>
                        <input type="text" class="form-control input-sm" id="courseCode" value="{{code}}" placeholder="{{t 'code'}}" />
                    </div>
                    <div class="form-group">
                        <label for="courseTitle" class="control-label">{{t 'title'}}</label>
                        <input type="text" class="form-control input-sm" id="courseTitle" value="{{title}}"  placeholder="{{t 'title'}}" />
                    </div>
                    <div class="form-group">
                        <label for="courseSchoollSel" class="control-label">{{t "school"}}</label>
                        <select id="courseSchoollSel" class="form-control" value="{{school_id}}">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="courseFrom" class="control-label">{{t 'from'}}</label>
                        <input type="date" class="form-control input-sm" id="courseFrom" value="{{courses_from}}" placeholder="{{t 'from'}}" />
                    </div>
                    <div class="form-group">
                        <label for="courseTo" class="control-label">{{t 'to'}}</label>
                        <input type="date" class="form-control input-sm" id="courseTo" value="{{courses_to}}" placeholder="{{t 'to'}}" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="courseCurrent" /> {{t 'current'}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="courseTeachers" class="control-label">{{t "teachers"}}</label>
                        <input type="text" class="input-sm form-control" id="courseTeachers" value="{{co_teachers}}" placeholder="{{t 'teachers'}}" />
                    </div>
                    
                    <div class="form-group">
                        <label for="courseReview" class="sr-only">{{t 'review'}}</label>
                        <textarea id="courseReview" style="resize: vertical;" placeholder="{{t 'description'}}" class="form-control" rows="5">{{review}}</textarea>
                    </div>
                    
                    <a class="btn btn-sm btn-success" id="courseSave" >{{t 'save'}}</a>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>



<!--    ! COURSES MODAL-->

<!--    PROJECTS MODAL -->


<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="panel panel-default">
            <div class="panel-heading">{{t "editProject"}}</div>
            <div class="panel-body">
                <form id="editFormProject" role="form">
                    <div class="form-group">
                        <label for="prjName"  class="control-label">{{t 'name'}}</label>
                        <input type="text" class="form-control input-sm" value="{{name}}" placeholder="{{t 'name'}}" id="prjName" />
                    </div>
                    <div class="form-group">
                        <label  class="control-label sr-only" for="prjDesc">{</label>
                        <textarea id="prDesc" class="form-control" style="resize: vertical;" placeholder="{{t 'description'}}" rows="5">{{description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="prjFrom" class="control-label">{{t 'from'}}</label>
                        <input type="date" id="prjFrom" class="form-control input-sm" placeholder="{{t 'from'}}" value="{{date_from}}" />
                    </div>
                    <div class="form-group">
                        <label for="prjTo" class="control-label">{{t 'to'}}</label>
                        <input type="date" class="input-sm form-control" placeholder="{{t 'to'}}" value="{{date_to}}" id="prjTo" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="prjCurrent" /> {{t 'current'}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="prjMembers">{{t 'members'}}</label>
                        <input type="text" id="prjMembers" placeholder="{{t 'name'}}-1, {{t 'name'}}-2, {{t 'etc'}}" value="{{team_members}}" class="form-control input-sm" />
                    </div>
                    <div class="form-group">
                        <label for="prjLink" class="control-label">{{t 'link'}}</label>
                        <input type="url" id="prjLink" class="form-control input-sm" value="{{link}}" placeholder="http://" />
                    </div>
                    <div class="form-group">
                        <label for="prjCompSel" class="control-label">{{t "company"}}</label>
                        <select id="prjCompSel" class="form-control" value="{{company_id}}">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="prjEduSel" class="control-label">{{t "education"}}</label>
                        <select id="prjEduSel" class="form-control" value="{{education_id}}">
                        </select>
                    </div>
                    <a class="btn btn-sm btn-success" id="prjSave" >{{t 'save'}}</a>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>


<!--    ! PROJECTS MODAL-->

<!--    WORKING_EXPERIENCE MODAL -->



<div class="modal fade" id="workModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="panel panel-default">
            <div class="panel-heading">{{t "editWork"}}</div>
            <div class="panel-body">
                <form id="editFormWork" role="form">
                    <div class="form-group">
                        <label class="control-label" for="workTitle">{{t 'title'}}</label>
                        <input type="text" class="form-control input-sm" id="workTitle" placeholder="{{t 'title'}}" value="{{title}}" />
                    </div>
                     <div class="form-group">
                        <label for="workCompSel" class="control-label">{{t "company"}}</label>
                        <select id="workCompSel" class="form-control" value="{{company_id}}">
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="workFrom">{{t 'from'}}</label>
                        <input type="date" id="workFrom" class="form-control input-sm" value="{{timeperiod_from}}" placeholder="{{t 'from'}}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="workTo">{{t 'to'}}</label>
                        <input type="date" id="workTo" class="form-control input-sm" value="{{timeperiod_to}}" placeholder="{{t 'to'}}" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="workCurrent" />
                            {{t "currentJob"}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="workDesc" class="sr-only">{{t 'description'}}</label>
                        <textarea id="workDesc" style="resize: vertical;" placeholder="{{t 'description'}}" class="form-control" rows="5">{{description}}</textarea>
                    </div>
                    <a class="btn btn-sm btn-success" id="workSave" >{{t 'save'}}</a>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>



<!--    ! WORKING_EXPERIENCE MODAL-->



