<h3 class="list-group-item-heading">
    <span class="pull-right">
        <a class="btn btn-sm edit interest text-info" data-id="{{id}}" data-toggle="tooltip" title="{{t 'edit'}}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-xs delete interest text-info" data-toggle="tooltip" data-id="{{id}}" title="{{t 'delete'}}"><span class="glyphicon glyphicon-trash"></span></a>
    </span>
</h3>

<p class="list-group-item-text">
    <p style="word-wrap: break-word;">
<small>{{description}}</small>
    </p>
</p>