<h4 class="list-group-item-heading">
    <a style="word-wrap: break-word;" class="text-info">{{name}}</a>
    <span class="pull-right">
        <a class="btn btn-sm edit langs text-info" data-id="{{id}}" data-toggle="tooltip" title="{{t 'edit'}}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-xs delete langs text-info" data-toggle="tooltip" data-id="{{id}}" title="{{t 'delete'}}"><span class="glyphicon glyphicon-trash"></span></a>
    </span>
</h4>
<p class="list-group-item-text">
    <span class="pull left">
        <span class="glyphicon glyphicon-stats">&nbsp;</span>{{levelname}}
    </span> 
</p>
 