<div class="container">
    <div class="row">
		<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">{{t "welcome"}}
			    		<span id="loading" class="glyphicon glyphicon-refresh hidden pull-right"></span>
		    		</h3>
			 	</div>
			 	
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form" autocomplete="on">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="{{t 'username'}}" id="username" type="text" required>
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="{{t 'password'}}" id="password" type="password" value="" required>
			    		</div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="{{t 'login'}}">
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>