<time datetime="{{date}}">
    <span class="day">{{day}}</span>
    <span class="month">{{month}}</span>
    <span class="year">{{year}}</span>
</time>
<img alt="Disney Junior Live On Tour!" src="{{imgLink}}" />
<div class="info">
    <h2 class="title">{{title}}</h2>
    <p class="desc"> {{desc}}</p>
    <ul>
        <li><a href="#" id="link"><span class="glyphicon glyphicon-globe"></span> {{t "more"}} </a></li>
    </ul>
</div>
<div class="social">
    <ul>
        <li>
            <a class="delete" href="#" data-toggle="tooltip" title="{{t 'delete'}}" style="color:#000">
                <span class="glyphicon glyphicon glyphicon-remove"></span>
            </a>
        </li>
    </ul>
</div>