<h4 class="list-group-item-heading">
    <span class="pull-right">
        <a class="btn btn-sm edit tel text-info" data-id="{{id}}" data-toggle="tooltip" title="{{t 'edit'}}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-xs delete tel text-info" data-toggle="tooltip" data-id="{{id}}" title="{{t 'delete'}}"><span class="glyphicon glyphicon-trash"></span></a>
    </span>
    <p ><span class="text-info glyphicon glyphicon-{{phoneType}}">&nbsp;</span>{{phone}}</p>
</h4>
