<h4 class="list-group-item-heading">
     <span class="pull-right"><a class="btn btn-sm edit publication text-info" data-id="{{id}}" data-toggle="tooltip" title="{{t 'edit'}}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-xs delete publication text-info" data-toggle="tooltip" data-id="{{id}}" title="{{t 'delete'}}"><span class="glyphicon glyphicon-trash"></span></a>
    </span>
</h4>
<p class="list-group-item-text">
    <blockquote>
      <p><a href="{{link}}" target="_blank" data-container="p" data-toggle="popover" data-placement="top" data-content="{{description}}" data-trigger="hover" style="word-wrap: break-word;" class="text-info aPopover">{{title}}</a></p>
      <footer>{{date}}&#44;&nbsp;&#91;{{authors}}&#93;</footer>
        <footer>{{publisher}}</footer>
    </blockquote>
</p>
 